<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is dashboard</title>
</head>
<body>

    <h1>Welcome to dashboard</h1>
    <a href="/admin/addItem" type="button" class="btn btn-danger btn-lg px-4 gap-3">Add or Modify Item</a>

    <a href="/logout" type="button" class="btn btn-danger btn-lg px-4 gap-3">Log Out</a>
</body>
</html>